@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

.banner {
    position: relative;
}

.botones-form {
    display: flex;
    flex-direction: row;
}

button:hover {
    transform:scale(1.2);
}

    .contactos {
    background-color: #3C2313;
    font-family: 'Roboto';
    color: white;
}

.contacto {
    height: 100px;
    display: flex;
    flex-direction: row;
}

.contacto img {
    margin: 10px;
}

.dato {
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 10px;
}

.destacados {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.destacados h1 {
    color: #3C2313;
    font-weight: bolder;
}

.contactar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto input[type=text]{
    background-color: #3C2313;
    color:#F0A83E;
    border-radius: 20px;
    height: 30px;
    width: 150%;
    margin: 10px;
}

.form-contacto button{
    background-color:#F0A83E;
    color:#3C2313;
    border-radius: 20px;
    height: 40px;
    width: 200%;
    margin: 10px;
}

footer {
    background-color: #222222;
    font-family: 'Roboto';
    color: white;
    text-align: center;
    padding: 8px;
}

.imagen_banner {
    position: relative;
    z-index: 1;
}

li.producto { 
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
}

.mensaje_banner {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: 50%;
    left: 67%;
}

.mensaje1 {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.mensaje2 {
    background-color: #F0A83E;
    color:white;
    padding: 5px;
    border-radius: 5px;
    font-weight: lighter;
}

.menu {
    position: absolute;
    width: 343px;
    height: 15px;
    left: 641px;
    top: 43px;
}

nav {
    background-color: #F0A83E;
    padding: 10px;
    display: flex;
    font-family: 'Roboto';
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 10px;
}

.patita {
    position: relative;
    left: 45%;
    width: 100px;
    height: 100px;
}

.productos {
    display: flex;
}

.producto-card {
    background-color: #FBFAF6;
}

.producto-card:hover {
    transform: scale(1.1);
}
.productos-destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.suscripcion {
    background-color: #F0A83E;
    padding: 15px;
    color: white;
    font-weight: bold;
}

.top {
    background-color: #222222;
    color: whitesmoke; 
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px;
    font-family: 'Roboto';
}

@media screen and (max-width: 700px){
    .productos-destacados {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .banner{
        display: flex;
        flex-direction: column;
    }

    .mensaje_banner {
        position:relative;
        left: 40%;
    }
}

@media screen and (max-width: 980px){
    .mensaje_banner {
        bottom: 20%;
    }
}
